<link rel="stylesheet" href="/css/footer.css">
<footer class="footer-distributed">
   <div class="footer-right">
      <a target="_blank" href="https://github.com/luanAfons0"><i class="fa fa-linkedin">
         <img src="/imgs/git-hub-icon.png" alt="GitHub icon">
      </i></a>
      <a target="_blank" href="https://www.linkedin.com/in/luan-henrique-afonso-881154280/"><i class="fa fa-github">
         <img src="/imgs/linkedin-icon.png" alt="Linkedin icon">
      </i></a>
   </div>
   <div class="footer-left">
      <p class="footer-links">
         <a class="link-1" href="/">Home</a>
         <a href="/create-task">Create task</a>
      </p>
      <p>Luan Afonso &copy; 2024</p>
   </div>
</footer>