<link rel="stylesheet" href="/css/header.css">
<div class="header">
    <a href="/" class="logo">SIMPLE TODO LIST</a>
    <div class="header-right">
      <a class="active" href="/create-task">Create</a>
    </div>
  </div>