.allTasks {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
}

.card {
    max-width: 700px;
    color: gray;
    width: 700px;
    border: 1px solid black;
    border-radius: 12px;
    padding: 2rem;
    overflow-wrap: break-word;
}

.card span {
    color: black;
}

.buttonsRow {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.buttonsRow button {
    width: fit-content;
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    color: white;
}

.updateButton {
    background-color: dodgerblue;
}

.updateButton a {
    text-decoration: none;
    color: white;
}

.deleteButton {
    background-color: red;
}